<style>
  footer {
    /* just for demo */
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:20px;
   /* just for demo */ 
  
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

</style>


<div class="container">
  <h1>Add New Book</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveBook()" #bookForm="ngForm">
        <div class="form-group">
          <label for="name">ISBN</label>
          <input type="text" class="form-control" [(ngModel)]="book.isbn" name="isbn" required>
        </div>
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" [(ngModel)]="book.title" name="title" required>
        </div>
        <div class="form-group">
          <label for="name">Author</label>
          <input type="text" class="form-control" [(ngModel)]="book.author" name="author" required>
        </div>
        <div class="form-group">
          <label for="name">Published Year</label>
          <input type="number" class="form-control" [(ngModel)]="book.published_year" name="published_year" required>
        </div>
        <div class="form-group">
          <label for="name">Publisher</label>
          <input type="text" class="form-control" [(ngModel)]="book.publisher" name="publisher" required>
        </div>
        <div class="form-group">
          <label for="name">Price</label>
          <input type="number" class="form-control" [(ngModel)]="book.Price" name="Price" required>
        </div>
        
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid">Save</button>
        </div>
        <br>
      </form>
    </div>
  </div>
  <footer>Created by : Debawi maria LFI3  , E_mail : debawimariafsm.tn@hotmail.com</footer>

</div>